.NavbarItems{
    background: linear-gradient(90deg, rgb(148, 199, 161) 0%, rgb(47, 88, 62) 100%);
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}

.NavbarItems input[type=text] {
    float: right;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* margin-right: 16px; */
    font-size: 17px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-logo {
    width: 70px;
    height: 70px;
    color: #fff;
    position: absolute;
    align-self: center;
    left: 12px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70px; 
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}


/* for the searchbar */



.example {
    width: 100%;
    max-width: 31.25rem;
    margin: 6rem;
}

.searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
    margin-left: 4.0rem;
}
  
  /* Style the search field */
.example input[type=text] {
    float: left;
    align-self: center;
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }

  
  /* Style the submit button */
.example button {
    float: right;
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -4.0rem;
    background: none;
    border: none;
    outline: none;

  }

.example button:hover {
    outline: none;
  }
  
  /* Clear floats */
.example::after {
    content: "";
    clear: both;
    display: table;
  }




   