.NavbarItems{
    background: linear-gradient(90deg, rgb(148, 199, 161) 0%, rgb(47, 88, 62) 100%);
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}

.NavbarItems input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-logo {
    width: 70px;
    height: 70px;
    color: #fff;
    position: absolute;
    align-self: center;
    left: 12px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70px; 
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}
