* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/* .App {
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7edfa;
} */

.form {
  display: block;
  position: relative;
}

.buttons {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #191027 50%,
    #13193e 50%,
    #6ca961
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: rgb(150, 51, 51);
  font-weight: 700;
  cursor: pointer;
}

.form:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #114e41, #83c261);
}

.form .form-inner {
  position: relative;
  display: block;
  background-color: rgb(181, 190, 179);
  padding: 30px;
  z-index: 2;
}

.form .form-inner h2 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #efffeb;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #dfffe4;
}

.form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

.form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #191027 50%,
    #13193e 50%,
    #6ca961
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}

.login_button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #191027 50%,
    #13193e 50%,
    #6ca961
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.login_button:hover {
  background-position: 100% 0%;
}
